
# how to hello world in python

```py 
# how to hello world in python

print("hello world")
```

# how to hello world in JavaScript 

```js 
// how to hello world in JavaScript

console.log("hello world")
```

